html{
    background: rgb(131, 73, 87);
}
body{
    background: rgba(255, 255, 255, 0.8);
    width: 500px;
    margin: 25px auto;
    text-align: center;
    padding: 50px;
    border-radius: 25px;
    font-family: 'Proza Libre', sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    margin: 25px;
}

a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 20px;
    font-variant: small-caps;
}

a:hover{
    font-weight: bolder;
    border: 3px solid black;
    transition: 0.2s;
}

.log{
    margin-top: 50px;
    background: rgb(74, 96, 161);
    text-decoration: none;
    color: white;
    padding: 5px 85px;
    border-radius: 10px;
}

.and{
    background: rgb(190, 164, 144);
    text-decoration: none;
    color: white;
    padding: 5px 39px;
    border-radius: 10px;
}

.pie{
    background: maroon;
    text-decoration: none;
    color: white;
    padding: 5px 56px;
    border-radius: 10px;
}